<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SocialWordCloud</title>
    <meta name="description" content="Create and design free word clouds online using raw text or social media data such as, a Twitter profile, a Reddit comments thread, or a Reddit user's profile.">
    <link rel="icon" type="image/png" sizes="1200x1200" href="static/assets/img/reddit_snoo_cloud.png">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171374227-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-171374227-1');
    </script>
</head>
<body style="background: #f0f2f5">
<div>
    <div class="header-dark" style="background-image: url(&quot;static/assets/img/Image%20from%20million-wallpapers.com%201920x1080.jpg&quot;);">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand text-muted" href="/">Social Word Cloud</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Examples</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>