{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
		<div class="col-md-12">
            <h1></h1>
			<h3>The Reddit word cloud generator</h3>
            <p>Create a word cloud of a reddit comments section or a particular user's comments mapped to a template of your choice.<br>
                You can also enter in a passage of text that you would like generate a word cloud for.<br>
                Select from one of our pre-made sillouttes or <a href="https://www.instructables.com/id/Remove-image-background-and-turn-it-into-silhouett/">create your own</a> and upload it.
            </p>
		</div>
</div>
<div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                      <label class="form-check-label" for="inlineRadio1">Reddit Comments Url</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">Reddit Username</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                      <label class="form-check-label" for="inlineRadio3">Raw Text</label>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <input id="text_input" class="form-control" type="text" placeholder="Enter reddit url, username, or large text passage here...">
                </div>
                <div class="col-md-1"></div>
            </div>
            <div style="height:5px"></div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <form action="/imageMasks" method="GET">
                        <button id="mask-button" class="btn-primary" style="width:100%;height:30px;" data-toggle="modal" data-target="#mask-modal">Mask Selection</button>
                    </form>
                        <!-- Modal -->
                      <div class="modal fade" id="mask-modal" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Image Mask Selection</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="row-img-mask">
                                    <div class="col-md-4" id="col-img-1"></div>
                                    <div class="col-md-4" id="col-img-2"></div>
                                    <div class="col-md-4" id="col-img-3"></div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <img class="img-fluid" id="uploadImage" src="{{ silhouette_file }}" style="width:100%; height:85%">
                    <form>
                    <button type="button" class="btn-primary" style="width:100%; height:30px;" data-toggle="modal" data-target="#upload-modal">Upload New Mask</button>
                    </form>
                      <!-- Modal -->
                      <div class="modal fade" id="upload-modal" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Image Mask Upload</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
                                    <script>function filesize(elem){document.cookie = `filesize=${elem.files[0].size}`}</script>
                                    <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
                                        <label class="custom-file-label" for="image">Select image...</label>
                                    </div>
                                    </div>
                                    <button type="submit" id="upload-image" class="btn btn-primary" value="Upload">Upload</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-5">
                    <button class="btn-primary" style="width:100%;height:30px;" data-toggle="modal" data-target="#colour-modal">Colour Scheme Settings</button>
                    <!-- Modal -->
                      <div class="modal fade" id="colour-modal" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Colour Scheme Settings</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineColourOptions" id="white-bg" value="white" checked>
                                      <label class="form-check-label" for="white-bg">White Background</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineColourOptions" id="black-bg" value="black">
                                      <label class="form-check-label" for="black-bg">Black Background</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>
                                      <input type="radio" name="ColourScheme" value="viridis" checked>
                                      <img class="img-fluid" style="width:90%" src="static/data/images/viridis.png">
                                    </label>
                                    <label>
                                      <input type="radio" name="ColourScheme" value="magma">
                                      <img class="img-fluid" style="width:90%" src="static/data/images/magma.png">
                                    </label>
                                    <label>
                                      <input type="radio" name="ColourScheme" value="flag">
                                      <img class="img-fluid" style="width:90%" src="static/data/images/flag.png">
                                    </label>
                                    <label>
                                      <input type="radio" name="ColourScheme" value="prism">
                                      <img class="img-fluid" style="width:90%" src="static/data/images/Prisim.png">
                                    </label>
                                    <label>
                                      <input type="radio" name="ColourScheme" value="Paired">
                                      <img class="img-fluid" style="width:90%" src="static/data/images/Paired.png">
                                    </label>
                                    <label>
                                      <input type="radio" name="ColourScheme" value="Accent">
                                      <img class="img-fluid" style="width:90%" src="static/data/images/Accent.png">
                                    </label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <img class="img-fluid" id="cloud_image" src="{{ cloud_file }}" style="width:100%; height:85%">
                    <form action="/process" method="POST">
                        <button type="submit" id="generateCloud" class="btn-primary" name="submit" value="Generate Word Cloud" style="width:100%;height:30px;" enabled>
                            Generate Word Cloud
                        </button>
                    </form>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div style="height:5px;width:100%"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="/downloadImage" method="POST">
                        <button id="img-download-btn" name="download-image" type="submit" class="btn-success" style="width:100%; height:48%" value="{{ cloud_file }}">Download Word Cloud</button>
                    </form>
                    <div style="width:100%; height:2%">    </div>
                    <form action="/downloadFile" method="POST">
                        <button id="file-download-btn" name="download-file" type="submit" class="btn-success" style="width:100%; height:48%" value="{{ csv_file }}">Download Word Statistics</button>
                    </form>
                    <div style="width:100%; height:2%">    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div style="height:5px"></div>
        </div>
</div>
<script src="{{url_for('static', filename='upload.js')}}"></script>
<script src="{{url_for('static', filename='process.js')}}"></script>
<script src="{{url_for('static', filename='masks.js')}}"></script>
<script>
    document.querySelector('.custom-file-input').addEventListener('change',function(e){
    var fileName = document.getElementById("image").files[0].name;
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
    })
</script>
{% endblock %}