{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container hero">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center text-secondary">The Social Media Word Cloud Creator</h2>
                    <div class="modal fade" role="dialog" tabindex="-1" id="colours-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Select your colour scheme</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineColourOptions" id="white-bg" value="white" checked>
                                            <label class="form-check-label" for="white-bg">White Background</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineColourOptions" id="black-bg" value="black">
                                            <label class="form-check-label" for="black-bg">Black Background</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label>
                                          <input type="radio" name="ColourScheme" value="viridis" checked>
                                          <img class="img-fluid" style="width:90%" src="static/data/images/viridis.png">
                                        </label>
                                        <label>
                                          <input type="radio" name="ColourScheme" value="magma">
                                          <img class="img-fluid" style="width:90%" src="static/data/images/magma.png">
                                        </label>
                                        <label>
                                          <input type="radio" name="ColourScheme" value="flag">
                                          <img class="img-fluid" style="width:90%" src="static/data/images/flag.png">
                                        </label>
                                        <label>
                                          <input type="radio" name="ColourScheme" value="prism">
                                          <img class="img-fluid" style="width:90%" src="static/data/images/Prisim.png">
                                        </label>
                                        <label>
                                          <input type="radio" name="ColourScheme" value="Paired">
                                          <img class="img-fluid" style="width:90%" src="static/data/images/Paired.png">
                                        </label>
                                        <label>
                                          <input type="radio" name="ColourScheme" value="Accent">
                                          <img class="img-fluid" style="width:90%" src="static/data/images/Accent.png">
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer"><button class="btn btn-primary" type="button" data-dismiss="modal">Save</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade visible" role="dialog" tabindex="-1" id="info-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">How to use</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <ol>
                                        <li>Input your text to analyse, this could be a <strong>twitter user's handle</strong> to analyse their statuses, a <strong>reddit comments thread url</strong> to analyse the thread comments, a <strong>reddit username</strong> whose comments you want to analyse, or a <strong>passage of raw text</strong>.</li>
                                        <li>Select the <strong>shape</strong> of your word cloud, or <strong>upload your own</strong> silloutte image mask you have <a href="https://www.instructables.com/id/Remove-image-background-and-turn-it-into-silhouett/" target="_blank">created yourself.</a></li>
                                        <li>Select the <strong>colour scheme</strong> for your word cloud.</li>
                                        <li>Hit <strong>Create</strong> and create your wordcloud.</li>
                                        <li><strong>Download</strong> either the word cloud image, or the stats behind the cloud.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="input-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Input</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <label id="input-type-label">Input type: Reddit Comments URL</label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary btn-sm active">
                                            <input type="radio" name="text-options" id="option3" autocomplete="off" value="raw" checked> Raw Text
                                        </label>
                                        <label class="btn btn-primary btn-sm">
                                            <input type="radio" name="text-options" id="option1" autocomplete="off" value="comments"> Reddit Comments
                                        </label>
                                        <label class="btn btn-primary btn-sm">
                                            <input type="radio" name="text-options" id="option2" autocomplete="off" value="user" placeholder="spez"> Reddit Username
                                        </label>
                                        <label class="btn btn-primary btn-sm">
                                            <input type="radio" name="text-options" id="option4" autocomplete="off" value="twitter" placeholder="@realdonaldtrump or realdonaldtrump"> Twitter User (Beta)
                                        </label>
                                    </div>
                                    <div style="width: 100%;height: 5px;"></div>
                                    <textarea id="text-input" style="width: 100%;height: 200px;" value=""></textarea>
                                    <input type="text" id="reddit-input" style="width: 100%;display: none;" value="" placeholder="">
                                    <div style="width: 100%;height: 5px;"></div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="show-stats">Show stats legend</label>
                                    </div>
                                    <div style="width: 100%;height: 5px;"></div>
                                    <div id="depth-selection" style="display: none;">
                                        <label>Search Depth*:   </label>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-primary btn-sm active">
                                                <input type="radio" name="page-options" id="page1" autocomplete="off" value="1" checked>1
                                            </label>
                                            <label class="btn btn-primary btn-sm">
                                                <input type="radio" name="page-options" id="page3" autocomplete="off" value="3">3
                                            </label>
                                            <label class="btn btn-primary btn-sm">
                                                <input type="radio" name="page-options" id="page5" autocomplete="off" value="5">5
                                            </label>
                                            <label class="btn btn-primary btn-sm">
                                                <input type="radio" name="page-options" id="page10" autocomplete="off" value="10">10
                                            </label>
                                            <label class="btn btn-primary btn-sm">
                                                <input type="radio" name="page-options" id="page20" autocomplete="off" value="20">20
                                            </label>
                                            <label class="btn btn-primary btn-sm">
                                                <input type="radio" name="page-options" id="page30" autocomplete="off" value="30">max
                                            </label>
                                        </div>
                                        <p style="font-size: 12px;">*The search depth refers to the twitter user's status history by page;
                                            selecting "1" will bring back the most recent tweets (1st page of tweets), selecting "max" will attempt to grab up to 30 pages of tweets
                                            (experimental and may take some time to retrieve the data so please be patient).
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="shape-modal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Select a word cloud shape</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                <div class="modal-body">
                                    <div>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" role="tab" href="#tab-1">Shapes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" role="tab" href="#tab-2">
                                                    <i class="fa fa-upload"></i>
                                                     Upload
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active" role="tabpanel">
                                                <div class="row" id="row-img-mask"></div>
                                            </div>
                                            <div id="tab-2" class="tab-pane" role="tabpanel">
                                                <form action="/upload" method="POST" id="upload-form" enctype="multipart/form-data">
                                                    <script>function filesize(elem){document.cookie = `filesize=${elem.files[0].size}`}</script>
                                                    <div class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
                                                        <label class="custom-file-label" for="image">Select image...</label>
                                                    </div>
                                                    </div>
                                                    <p>*Black and white shapes only, follow this guide <a href="https://www.instructables.com/id/Remove-image-background-and-turn-it-into-silhouett/" target="_blank">here</a> to create your own shapes.</p>
                                                    <button type="submit" id="upload-image" class="btn btn-primary" value="Upload">Upload</button>
                                                    <div id="uploaded-mask"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar float-left">
                        <div class="btn-group" role="group"><button class="btn btn-primary btn-sm border rounded" id="info-button" type="button"><i class="fa fa-info-circle"></i> Guide</button></div>
                        <div class="btn-group" role="group"><button class="btn btn-primary btn-sm border rounded" id="input-button" type="button">Input</button></div>
                        <div class="btn-group" role="group"><button class="btn btn-primary btn-sm border rounded" id="shape-button" type="button">Shapes</button></div>
                        <div class="btn-group" role="group"><button class="btn btn-primary btn-sm border rounded" id="colour-button" type="button">Colours</button></div>
                        <form action="/process" method="POST">
                            <div class="btn-group" role="group"><button class="btn btn-success btn-sm border rounded" id="run-button" type="submit">Create Cloud!</button></div>
                        </form>
                    </div>
                    <div class="btn-toolbar float-left">
                        <div class="btn-group" role="group">
                            <form action="/downloadImage" method="POST">
                                <button class="btn btn-primary btn-sm border rounded" name="download-image" id="cloud-button" type="submit" value="{{ cloud_file }}"><i class="fa fa-download"></i>&nbsp;Download Cloud</button>
                            </form>
                        </div>
                        <div class="btn-group" role="group">
                            <form action="/downloadFile" method="POST">
                                <button class="btn btn-primary btn-sm border rounded" name="download-file" id="stats-button" type="submit" value="{{ csv_file }}"><i class="fa fa-download"></i>&nbsp;Download Stats</button>
                            </form>
                        </div>
                    </div>
                    <img class="img-fluid border rounded border-info" width="100%" id="cloud_image" src="{{ cloud_file }}">
                    <a class="text-primary" href="https://www.buymeacoffee.com/redditclouds" target="_blank">Like the website? Buy me a coffee!</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/modals.js"></script>
    <script src="static/assets/js/upload.js"></script>
    <script src="static/assets/js/process.js"></script>
    <script src="static/assets/js/masks.js"></script>
{% endblock %}